/* Includ Fonts */
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'OpenSans sb';
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: 'OpenSans b';
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Slab Regular';
    src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format('truetype');
}










/* best tag resets according to PSD */

body {
    background: white;
    font-family: 'OpenSans';
    font-size: 18px;
}

h2, .h2 {
    font-size: 50px;
    font-family: "Roboto Slab Regular";
    text-transform: capitalize;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
small {
    display: block;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}

blockquote {
    border: 0;
    font-size: inherit;
    padding: 0px;
}

blockquote:before,blockquote:after {
    content: '”';
    font-size: 80px;
    line-height: 0.2;
    color: #eb1b22;
    font-family: arial;
    height: 0px;
    display: inline-block;
    vertical-align: text-bottom;
}

blockquote:before {
    content: '“';
    position: absolute;
    left: -45px;
    top: 17px;
}

blockquote:after {
    margin-left: 15px;
}

/* Class level resets */

.img-responsive {
    margin: auto;
}
.caret {
    background-image: url('../images/ico_down.png');
    height: 13px;
    width: 22px;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    margin-top: -2px;
}
/* DRY CSS for Theming */
.op-sb, .sec_article, .searchBar, .btn_default {
    font-family: "OpenSans sb";
}

.op-lt, .company_info_h, .adv_h5 {
    font-family: "Open Sans Light";
}

.rb, .header_title, .footer_h, .company_info_h_small {
    font-family: "Roboto Slab Regular";
}

.ds-block, .company_info_h_small .searchMed_desc {
    display: block;
}

.bg-red, .btn_default, .upDis {
    background: #ea1b21;
}

/* Moduler CSS / Components */
.wd_col {
    float: left;
}

.wd_col_1 {
    width: 30%;
}

.wd_col_link {
    display: block;
    margin-top: 6px;
}

.wd_col_2 {
    width: 10%;
}

.wd_col_3 {
    width: 19%;
}

.wd_col_4 {
    width: 20%;
}

.wd_col_5 {
    width: 20%;
    text-align: center;
}

.calculate_ele {
    width: 40px;
    height: 45px;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #aeaeae;
    border-radius: 0;
    background: white;
    text-align: center;
}

.input--number {
    border-right: 0;
    border-left: 0;
}

.btn_calculate:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn_calculate:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn_default {
    border: 0;
    border-radius: 26px;
    color: white;
    height: 40px;
    margin-top: 3px;
    font-size: 18px;
    padding: 0px 25px;
    width: 110px;
    margin: auto;
    display: block;
    margin-top: 4px;
}
.btn_default:focus {
    outline: none;
}



/* Layouts */
.secCat {
    overflow: hidden;
    padding: 30px 0px;
}

.navbar {
    height: 98px;
    font-size: 18px;
    margin-bottom: 0;
    border: 0;
}

.header {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 595px;
    overflow: hidden;
}

.wd_row {
    overflow: hidden;
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #ccc;
    padding: 8px 5.3%;
    height: 65px;
}

.searchMed {
    height: 230px;
    overflow-y: auto;
    color: #424242;
    font-size: 22px;
}

.upDis {
    max-width: 235px;
    height: 235px;
    margin: auto;
    border-radius: 50%;
    font-size: 22px;
    overflow: hidden;
    margin-top: 22px;
    font-family: "OpenSans b";
    position: relative;
    z-index: 1;
}

.upDis_file {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.sec_article {
    background: #fff;
    box-shadow: 0px 2px 6px 0px #00000038;
    border: 1px solid transparent;
    border-radius: 4px;
    min-height: 200px;
    font-size: 20px;
    margin-bottom: 30px;
}

.testimonial {
    max-width: 970px;
    min-height: 210px;
    margin: auto;
    margin-top: 115px;
    margin-bottom: 140px;
    box-shadow: 0px 2px 34px 4px #0000002e;
    padding: 37px 27px;
    font-size: 16px;
}
/* Navigation bar*/


.navbar-nav li>a {
    padding: 39px 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-brand {
    padding: 29px 0;
    height: initial;
}

.navbar a {
    font-size: 16px;
}


.navbar-nav li:last-child>a {
    padding-right: 0;
}

/* Header */

.header_title {
    font-size: 36px;
    margin-top: 120px;
    line-height: 1;
    margin-bottom: 13px;
}


/* Header Search */

.searchForm {
    overflow: hidden;
    max-width: 901px;
    margin: auto;
    position: relative;
    z-index: 2;
}
.searchForm_div {
    position: relative;    
    z-index: 9;
}
.header_desc {
    font-size: 24px;
    margin-bottom: 43px;
}
.searchBar {
    border-radius: 0;
    max-width: 901px;
    margin: auto;
    height: 70px;
    padding-left: 70px;
    font-size: 22px;
}



.searchBar::placeholder {
    font-size: 20px;
}
.searchMed_title {
    color: #000;
}
.searchMed_desc {
    font-size: 12px;
    line-height: 0.3;
    display: block;
}

.searchForm_btn {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: 0;
    width: 100%;
    max-width: 70px;
    padding: 0;
    text-align: center;
}

.btn_img, .upDis_des {
    display: inline-block;}

.upDis_img {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}


.upDis_des {
    max-width: 166px;
    line-height: 1.2;
}

.searchMed_mgs, .searchMed_rs {
    line-height: 2;
}

.searchMed_rs {
    color: #eb1b22;
}

.searchMed_outer {
    padding-top: 10px;
    background: #fff;
    -webkit-box-shadow: inset 0px 1px 10px 0px #ccc;
    -moz-box-shadow: inset 0px 1px 10px 0px #ccc;
    box-shadow: inset 0px 1px 10px 0px #ccc;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    top: -100%;
    transition: all 0s;
}
.searchForm.searchMed_outer--show {
    overflow: initial;    
}
.searchMed_outer--show .searchMed_outer {
    opacity: 1;
    top: 70px;
    transition: all 0.4s;
}
/* Footer */
.footer_main {
    overflow: hidden;
    padding: 30px 0;
}

.footer_h {
    margin-top: 30px;
    margin-bottom: 55px;
    font-size: 22px;
}

.footer_ul {
    margin-bottom: 30px;
}

.footer_h small {
    display: block;
    font-size: 16px;
    color: inherit;
}

.footer_main .ico_btnz {
    margin-bottom: 35px;
    margin-top: -10px;
}

.footer_link {
    color: inherit;
    margin-bottom: 25px;
    display: inline-block;
}

.footer_bottom {
    background: #313131;
    height: 80px;
    color: #fff;
    border-top: 2px solid #0099cc;
}

.footer_btm_ul>li {
    float: right;
    margin-left: 25px;
}

.footer_btm_ul_li_a {
    width: 45px;
    height: 45px;
    border: 0px solid #fff;
    border-radius: 50%;
    display: block;
}
.footer_btm_ul_li_a
 img:hover {
    zoom: 1.1;
    position: relative;
    top: -1px;
}

.footer_btm_ul {
    margin-top: 18px;
    overflow: hidden;
}

.footer_bottom_p {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro Light";
    font-size: 20px;
    padding-top: 29px;
}
.slider {
    overflow: hidden;
}

.ico_btnz {
    border: 1px solid #000;
    padding: 1px 1px;
    border-radius: 2px;
}

.ico_btnz {
    width: 150px;
    height: 40px;
    background: url(../images/button_google--hover.png);
}

.ico_btnz--app {
    background: url("../images/button_apple--hover.png");
}
.ico_btnz:hover {
    background: url(../images/button_google.png);
}

.ico_btnz--app:hover {
    background: url("../images/button_apple.png");
}
/* Category Section */
.sec_article_a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.sec_article .img-responsive {
    margin: auto;
}
.sec_article_a:hover {
    color: inherit;
    text-decoration: none;
}
.secCat_h {
    margin-top: 10px;
    margin-bottom: 7px;
}

.secCat_all {
    margin-top: 60px;
}

.sec_article_h {
    font-size: inherit;
    margin: auto;
    min-height: 44px;
}
/* Company */

.company {
    padding: 60px 0;
    text-align: center;
}

.company_info_img {
    margin: auto;
}


.company_info_h {
    color: #0099cc;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
}

.h2 small.company_info_h_small, .company_info_h_small {
    font-size: 49%;
    color: #373737;
}
/* Our Services */
.ourSer {
    position: relative;
    background-color: #0d8fc3;
    color: white;
    padding: 70px 0;
    background-image: url(../images/banner_left.jpg);
    background-repeat: no-repeat;
    background-size: 87% 100%;
}


.ourSer_h {
    margin-top: 10px;
    line-height: 1;
    margin-bottom: 25px;
}
.ourSer_des, .ourSer_p {
    opacity: 0.8;
}

.ourSer_p {
    font-size: 12px;
    padding-right: 15px;
}
.ourSer_des {
    margin-right: -25px;
}
.ourSer_img {
    display: inline-block;
    margin-right: 11px;
}


/* How It Works (hiw) */
.hiw_article_img{
    margin: auto;
}

.hiw_article:after {
    content: "";
    width: 50px;
    height: 15px;
    background-image: url("../images/ico_right.png");
    display: block;
    position: absolute;
    top: -40px;
    bottom: 0px;
    right: 0;
    margin: auto;
}

.hiw_article {
    position: relative;
    margin-bottom: 60px;
    margin-top: 65px;
}
.hiw_article_h {
    font-size: 22px;
    max-width: 175px;
    margin: auto;
}

.hiw_article:last-child:after {
    display: none;
}
.hiw_article:last-child .hiw_article_h {
    max-width: 201px;
}


/* Advantages */


.Adv {
    padding: 80px 0;
}

.adv_h {
    margin-top: 0;
    color: #0099cc;
    margin-bottom: 20px;
}
.advArticle>div:first-child .adv_h5 {
    margin-bottom: 50px;
}
.adv_sm {
    margin-top: 10px;
    font-size: 32px;
    color: #000;
}


.adv_h5 {
    font-size: 20px;
}

.adv_sm, .adv_h5_img {
    display: inline-block;
}

.adv_h5_img {
    float: left;
    margin-right: 2%;
}

/* testimonial */

.testimonial_h {
    font-size: 16px;
    font-weight: bold;
    font-family: OpenSans b;
}
.testimonial_block {
    position: relative;
}

.img-testimonial {
    border: 1px solid #e1e2e5;
}


/* Plugins */
.owl-dot {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #eb1b22;
    border-radius: 50%;
    margin-right: 20px;
}

.owl-dot.active {
    background: #fbd1d3;
}

.owl-dots {
    text-align: center;
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
}


/* helping classes */
.bg-grey {
    background: #f6f6f6;
}
.bg-white {
    background: #fff;
}
.text-blue {
    color: #0099cc;
}

.pd-0 {
    padding: 0;
}




/* Media screens for Responsiveness */
@media screen and (max-width: 1200px) {

.ourSer {   
    background-position: 50% 0px;
    background-size: cover;
}
h2, .h2 {
    font-size: 45px;
}
.ourSer_des {
    margin-right: 0;
    font-size: 16px;
}
.testimonial {
    font-size: 16px;
    box-shadow: none;
}

.ourSer_h3 {
    font-size: 22px;
}



.adv_h {
    font-size: 29px;
}
.adv_sm {
    font-size: 27px;
}

.adv_h5 {
    font-size: 18px;
    line-height: 1.3;
}


.advArticle {
    padding-right: 0;
}

.advArticle .col-sm-3 {
    padding: 0 2px;
}


.adv_sm {
    font-size: 27px;
}

.advArticle>div:first-child .adv_h5 {
    margin-bottom: 9px;
}
}
@media screen and (max-width: 992px) {

.header_title {
    font-size: 30px;
}
.header_desc {
    font-size: 21px;
    }

.sec_article_a {
    display: block;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wd_col_2 {
    width: 13%;
}
.wd_col_3 {
    width: 17%;
}
.searchMed {
    font-size: 20px;
}
.sec_article {
    min-height: 170px;
    font-size: 18px;
}

/* our services */
.ourSer_contentBox--space {
    max-width: 49%;
}

.ourSer_contentBox {
    width: 51%;
}

.ourSer {
    background-position: 57% 0px;
}
.ourSer_h3 {
    font-size: 21px;
}

.ourSer_h3 {
    font-size: 21px
}

/* Advertise */
.adv_h5 {
    font-size: 12px;
}
.adv_sm {
    font-size: 20px;
}


/* How it Works  */

.hiw_article_h {
    font-size: 18px;
    }
.footer_bottom_p {
    font-size: 18px;
}
.hiw_article {
    min-height: 128px;
    margin-bottom: 45px;
    margin-top: 50px;
}
.hiw_article:after {
    right: -8%;
}


/* Advantages */
.adv_p {
    font-size: 15px;
}
}


@media screen and (max-width: 992px) {

/* How it Works  */
.hiw_article:after {
    right: 0;
    left: 0;
    transform: rotate(90deg);
    top: initial;
    bottom: -28px;
}

.hiw_article {
    min-height: 142px;
}
}